@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Merriweather&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body color */

body {
    background: hsla(212, 100%, 76%, 1);

background: linear-gradient(90deg, hsla(212, 100%, 76%, 1) 0%, hsla(0, 0%, 100%, 1) 18%);

background: -moz-linear-gradient(90deg, hsla(212, 100%, 76%, 1) 0%, hsla(0, 0%, 100%, 1) 18%);

background: -webkit-linear-gradient(90deg, hsla(212, 100%, 76%, 1) 0%, hsla(0, 0%, 100%, 1) 18%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#85beff", endColorstr="#ffffff", GradientType=1 );
}

/* Logo and Navigational links */

#logo {
    text-align: center;
    font-size: 450%;
    font-family: Caveat, sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    color: #0D00A4;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
}

#logo-desc {
    text-align: center;
    font-size: 110%;
    margin-top: 5px;
    color: #22007C;
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
}

#nav-links {
    text-align: center;
    font-size: 130%;
    font-family: Merriweather, sans-serif;

}

.nav {
    display: inline-block;
    margin: 30px 50px;
}

.nav a {
    text-decoration: none;
    color: #140152;
}

.active {
    border-bottom: 2px solid #140152;
}

/* hero image and text*/

.parallax {
    background-image: url("../images/brighton-cliff.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-margin {
    height: 100px;
    visibility: hidden;
}

#hero-text {
    text-align: center;
    color: #04052E;
    font-family: Playfair Display, sans-serif;
    font-size: 200%;
    background-color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Ethos */

#ethos-text {

    font-family: Playfair Display, sans-serif;
    color: #04052E;

}

#ethos-left {
    padding-left: 13%;
    padding-top: 20px;
    float: left;
    font-size: 150%;
    font-weight: 600;
}

#ethos-right {
    text-align: center;
    margin-right: 20%;
    margin-top: 60px;
    padding: 70px;
    border-radius: 50%;
    float: right;
    background-color: rgba(0, 0, 255, 0.5);
}

/* End message */

#home-end {
    clear: both;
    padding-top: 30px;
}

#home-end h2 {
    font-family: Merriweather, sans-serif;
    font-size: 170%;
    text-align: center;
    color: #02010A;
}

#home-end2 {
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: Playfair Display, sans-serif;
    font-size: 130%;
    line-height: 2;
    font-weight: 600;
    color: #02010A;
}

#slogan {
    font-family: Merriweather, sans-serif;
}


