@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Merriweather&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body color */

body {
/* 
    height: 100%;
    
    background: hsla(185, 100%, 67%, 1) no-repeat;

    background: linear-gradient(90deg, hsla(185, 100%, 67%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(185, 100%, 67%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(185, 100%, 67%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#57f1ff", endColorstr="#ffffff", GradientType=1); */
}

/* Logo and Navigational links */

#logo {
    text-align: center;
    font-size: 450%;
    font-family: Caveat, sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    color: #0D00A4;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
}

#logo-desc {
    text-align: center;
    font-size: 110%;
    margin-top: 5px;
    color: #22007C;
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
}

#nav-links {
    text-align: center;
    font-size: 130%;
    font-family: Merriweather, sans-serif;
    
}

.nav {
    display: inline-block;
    margin: 30px 50px;
}

.nav a {
    text-decoration: none;
    color: #140152;
}

.active {
    border-bottom: 2px solid #140152;
}