* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Logo and Navigational links */

#logo {
    text-align: center;
}

#nav-links {
    text-align: center;
}

.nav {
    display: inline-block;
}